<a href="https://colab.research.google.com/github/rgfghn/Tubes-AI/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load libraries
import pandas as pd # Untuk Mengimpor pustaka pandas
import numpy as np # Untuk Mengimpor pustaka Numpy

dwn_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data' # Arrhtyhmia dataset 
df = pd.read_csv(dwn_url, header=None)

In [ ]:
df # Menampilkan DataFrame

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df_column = ["Age","Sex","Height","Weight","QRS_Dur",
"P-R_Int","Q-T_Int","T_Int","P_Int","QRS","T","P", "QRST", "J","Heart_Rate",
"Q_Wave","R_Wave","S_Wave","R'_Wave","S'_Wave","Int_Def","Rag_R_Nom",
"Diph_R_Nom","Rag_P_Nom","Diph_P_Nom","Rag_T_Nom","Diph_T_Nom", 
"DII00", "DII01","DII02", "DII03", "DII04","DII05","DII06","DII07","DII08","DII09","DII10","DII11",
"DIII00","DIII01","DIII02", "DIII03", "DIII04","DIII05","DIII06","DIII07","DIII08","DIII09","DIII10","DIII11",
"AVR00","AVR01","AVR02","AVR03","AVR04","AVR05","AVR06","AVR07","AVR08","AVR09","AVR10","AVR11",
"AVL00","AVL01","AVL02","AVL03","AVL04","AVL05","AVL06","AVL07","AVL08","AVL09","AVL10","AVL11",
"AVF00","AVF01","AVF02","AVF03","AVF04","AVF05","AVF06","AVF07","AVF08","AVF09","AVF10","AVF11",
"V100","V101","V102","V103","V104","V105","V106","V107","V108","V109","V110","V111",
"V200","V201","V202","V203","V204","V205","V206","V207","V208","V209","V210","V211",
"V300","V301","V302","V303","V304","V305","V306","V307","V308","V309","V310","V311",
"V400","V401","V402","V403","V404","V405","V406","V407","V408","V409","V410","V411",
"V500","V501","V502","V503","V504","V505","V506","V507","V508","V509","V510","V511",
"V600","V601","V602","V603","V604","V605","V606","V607","V608","V609","V610","V611",
"JJ_Wave","Amp_Q_Wave","Amp_R_Wave","Amp_S_Wave","R_Prime_Wave","S_Prime_Wave","P_Wave","T_Wave",
"QRSA","QRSTA","DII170","DII171","DII172","DII173","DII174","DII175","DII176","DII177","DII178","DII179",
"DIII180","DIII181","DIII182","DIII183","DIII184","DIII185","DIII186","DIII187","DIII188","DIII189",
"AVR190","AVR191","AVR192","AVR193","AVR194","AVR195","AVR196","AVR197","AVR198","AVR199",
"AVL200","AVL201","AVL202","AVL203","AVL204","AVL205","AVL206","AVL207","AVL208","AVL209",
"AVF210","AVF211","AVF212","AVF213","AVF214","AVF215","AVF216","AVF217","AVF218","AVF219",
"V1220","V1221","V1222","V1223","V1224","V1225","V1226","V1227","V1228","V1229",
"V2230","V2231","V2232","V2233","V2234","V2235","V2236","V2237","V2238","V2239",
"V3240","V3241","V3242","V3243","V3244","V3245","V3246","V3247","V3248","V3249",
"V4250","V4251","V4252","V4253","V4254","V4255","V4256","V4257","V4258","V4259",
"V5260","V5261","V5262","V5263","V5264","V5265","V5266","V5267","V5268","V5269",
"V6270","V6271","V6272","V6273","V6274","V6275","V6276","V6277","V6278","V6279", "Class"]

df.columns = df_column # Merubah DataFrane untuk setiap kolom memiliki nama yang sesuai di input
df # Menampilkan DataFrame

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df.head() # Membaca 5 baris pertama dari data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [ ]:
df.tail() # Membaca 5 baris terakhir dari data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df.info() # Menampilkan informasi mengenai DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Columns: 280 entries, Age to Class
dtypes: float64(120), int64(155), object(5)
memory usage: 988.9+ KB

In [ ]:
df.describe() # Menampilkan summary statistik data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

In [ ]:
df.shape # Menampilkan jumlah baris dan kolom data

(452, 280)

In [ ]:
missing_value = dict() # Membuat Kamus Kosong untuk menyimpan informasi yang 
                          # hilang di dalam DataFrame
for column in df: # Digunakan untuk melakukan iterasi setiap kolom dalam DataFrame
    for data in df[column]: # Digunakan untuk melakukan iterasi melalui setiap 
                              # nilai dalam kolom column dalam DataFrame
        if data == '?' or data == '': # Digunakan untuk memeriksa apakah nilai 
                                        # data dalam kolom saat ini sama dengan 
                                          # tanda tanya ('?') atau string kosong ('')
            missing_value[column] = 1 + missing_value.get(column, 0)  # Digunakan untuk mengupdate 
                      # dictionary missing_value dengan jumlah nilai yang hilang dalam setiap kolom.
                                                                        
missing_value # Untuk melihat hasil dari dictionary missing_value

{'T': 8, 'P': 22, 'QRST': 1, 'J': 376, 'Heart_Rate': 1}

In [ ]:
df = df.drop('J', axis=1) # Menghapus kolom J dari DataFrame
df = df.replace('?', np.NaN) # Digunakan untuk mengganti semua nilai '?' dalam DataFrame
def getcolumn(indx): # Mendefinisikan fungsi bernama getcolumn dengan parameter indx
  for idx,column in enumerate(df.columns): # Melakukan Perulangan dengan fungsi 
                                              # enumerate untuk mengiterasi 
                                                # kolom-kolom dalam DataFrame
      if idx == indx: # Memeriksa apakah indeks sama dengan nilai parameter indx
        return column # Jika sama maka akan mengembalikan nilai column
ind = 0 # Menetapkan variabel ind menjadi nilai 0
for null in df.isnull().sum():  # Melakukan loop for yang menggunakan metode 
                                  # .isnull().sum() pada DataFrame df. Metode
                                    # ini menghitung jumlah nilai null (kosong) 
                                      # dalam setiap kolom DataFrame.
  if null!=0: # jika null tudak sama dengan 0 maka if akan berjalan
    column = getcolumn(ind) # Menggunakan fungsi getcolumn(ind) untuk mendapatkan 
                              # nama kolom berdasarkan indeks ind
    df[column]=df[column].fillna(0) # Pada baris ini nilai Nan akan diganti menjadi 0
    df[column]=pd.to_numeric(df[column]) # Pada baris ini ganti type kolom dari 
                                            # objek ke numerik
    df.loc[df[column]==0,column]= df[column].mean() # Menggunakan df.loc untuk mengakses nilai-nilai   
                # dalam kolom yang memenuhi kondisi df[column]==0. Kemudian, menggantinya dengan  
                  # rata-rata dari kolom tersebut menggunakan df[column].mean()
    ind+=1 # Menambah nilai dari ind
  else:
    ind+=1 # Jika if tidak terpenuhi maka menambahkan nilai dari ind

In [ ]:
df.shape # Menampilkan jumlah baris dan kolom data

(452, 279)

In [ ]:
df = df.sample(len(df)).reset_index(drop=True) # Menggunakan metode sample dari DataFrame 
         # untuk mengacak urutan baris dalam DataFrame dan menggunakan metode reset_index 
         # dengan parameter drop=True untuk mengatur ulang indeks DataFrame 
df # Menampilkan DataFrame

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,42,1,165,54,82,157,376,150,82,76,...,0.0,7.5,-2.0,0.0,0.0,0.3,1.7,10.6,24.5,10
1,68,1,168,59,78,159,356,164,83,-51,...,0.0,7.0,-2.7,0.0,0.0,0.4,2.6,6.2,31.1,1
2,21,1,156,44,78,151,363,154,87,84,...,0.0,7.5,0.0,0.0,0.0,-0.1,2.5,28.5,49.0,1
3,57,0,170,65,77,160,359,141,100,68,...,-0.7,8.5,-1.2,0.0,0.0,0.8,0.6,14.3,17.4,1
4,53,0,169,176,111,166,339,200,100,86,...,-1.0,12.4,0.0,0.0,0.0,0.8,1.5,31.0,44.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,25,1,162,78,77,141,378,206,84,56,...,-0.4,9.7,-0.7,0.0,0.0,0.5,2.6,22.2,49.2,1
448,58,1,166,70,89,158,355,144,106,5,...,0.0,8.0,-2.5,0.0,0.0,0.4,2.0,13.2,27.6,10
449,30,0,167,77,87,164,362,168,89,71,...,-1.1,13.4,-1.6,0.0,0.0,0.5,0.2,22.5,24.2,1
450,39,1,164,62,79,155,367,153,95,50,...,0.0,9.7,-0.7,0.0,0.0,0.8,1.3,24.1,33.7,1
451,37,0,182,90,101,294,356,164,143,33,...,0.0,6.9,0.0,0.0,0.0,0.2,1.9,22.0,38.3,16

In [ ]:
# Node class for decision tree
class Node:
    # konstruktor __init__ menerima beberapa parameter yang memungkinkan untuk
      #  menginisialisasi properti  feature_index, threshold, value,
        #  left, dan right dari objek DecisionTreeClassifier.  
    def __init__(self, feature_index=None, threshold=None, value=None, left=None, right=None): 
        # Menyimpan nilai feature_index, threshold, value, left, right ke 
          # dalam properti masing-masing pada objek DecisionTreeClassifier. 
        self.feature_index = feature_index  # Index of the feature to split on
        self.threshold = threshold  # Threshold value for the split
        self.value = value  # Class label for leaf node
        self.left = left  # Left child (subtree)
        self.right = right  # Right child (subtree)

In [ ]:
# Decision Tree class
class DecisionTree:
    def __init__(self, max_depth=None):
        # max_depth: Properti ini digunakan untuk menyimpan nilai kedalaman maksimum
          # dari pohon keputusan yang akan dibangun 
        self.max_depth = max_depth  # Maximum depth of the tree
        # root: Properti ini akan digunakan untuk menyimpan referensi ke akar (root)
          # dari pohon keputusan yang akan dibangun. 
        self.root = None  # Root node of the tree

    def fit(self, X, y):
        # kita menginisialisasi properti root dengan memanggil metode 
          # _build_tree dengan argumen X dan y. Metode ini akan mengembalikan 
            # node root dari pohon keputusan yang telah dibangun. 
        self.root = self._build_tree(X, y)

    def _build_tree(self, X, y, depth=0):
        # Check termination conditions
        if depth == self.max_depth or len(np.unique(y)) == 1:
            # Jika kondisi terpenuhi, kita menginisialisasi variabel value dengan 
              # memanggil metode _most_common_label dengan argumen y
            value = self._most_common_label(y)
            # mengembalikan objek node dengan nilai label yang telah ditentukan.
            return Node(value=value)

        # menginisialisasi variabel num_features dengan jumlah fitur dalam data X. X.shape[1] 
          # mengembalikan jumlah kolom dalam matriks X, yang mewakili jumlah fitur.
        num_features = X.shape[1]
        # Variabel best_feature_index diinisialisasi dengan nilai None
        best_feature_index = None
        # Variabel best_threshold diinisialisasi dengan nilai None
        best_threshold = None
        # Variabel best_gini diinisialisasi dengan nilai tak terhingga (inf)
        best_gini = float('inf')

        # Melalui loop ini, kita melakukan iterasi melalui setiap fitur dalam data.
        for feature_index in range(num_features):
            # Baris ini menginisialisasi variabel thresholds dengan array 
              # yang berisi nilai unik dari fitur pada feature_index 
            thresholds = np.unique(X[:, feature_index])
            # Melalui loop ini, kita melakukan iterasi melalui setiap threshold 
              # yang mungkin untuk fitur pada feature_index
            for threshold in thresholds:
                # Baris ini menghitung nilai gini dengan memanggil metode _gini_index() 
                  #  dengan argumen X, y, feature_index, dan threshold
                gini = self._gini_index(X, y, feature_index, threshold)
                # Dalam kondisi ini, kita memeriksa apakah nilai gini yang baru
                  # ditemukan (gini) lebih kecil dari best_gini saat ini. Jika iya,
                    # berarti kita telah menemukan pemisahan yang memiliki 
                      # nilai gini lebih baik, sehingga kita memperbarui best_gini, 
                        # best_feature_index, dan best_threshold dengan nilai yang baru.
                if gini < best_gini:
                    best_gini = gini
                    best_feature_index = feature_index
                    best_threshold = threshold

        # Check termination conditions
        if best_feature_index is None or best_threshold is None:
            # Jika kondisi terpenuhi, kita menginisialisasi variabel value
              # dengan memanggil metode _most_common_label dengan argumen y 
            value = self._most_common_label(y)
            # mengembalikan objek node dengan nilai label yang telah ditentukan.
            return Node(value=value)

        # Baris ini menggunakan indexing untuk memilih kolom dengan 
          # best_feature_index dari matriks X, kemudian membandingkan nilai
            # setiap elemen best_threshold
        left_indices = X[:, best_feature_index] < best_threshold
        # Baris ini menggunakan operator bitwise NOT (~) untuk mengubah nilai 
          # dari array left_indices. Operator ini akan mengubah
            # setiap nilai True menjadi False dan setiap nilai False menjadi True 
        right_indices = ~left_indices

        # Baris ini memanggil metode _build_tree secara rekursif untuk membangun 
          # subtree kiri dari node saat ini, kemudia memanggil depth +1 sebagai argumen
            #  ketiga adalah untuk meningkatkan kedalaman subtree yang sedang dibangun
        left_child = self._build_tree(X[left_indices], y[left_indices], depth + 1)
        # Sama seperti diatas namun baris ini membangun subtree dari kanan
        right_child = self._build_tree(X[right_indices], y[right_indices], depth + 1)

        # Baris ini mengembalikan objek Node yang dibangun dengan menggunakan 
          # informasi terbaik yang ditemukan selama  proses pembangunan pohon.
        return Node(feature_index=best_feature_index, threshold=best_threshold, left=left_child, right=right_child)

    def _gini_index(self, X, y, feature_index, threshold):
        # Baris ini menggunakan indexing untuk memilih kolom dengan 
          # best_feature_index dari matriks X, 
            # kemudian membandingkan nilai setiap elemen dari threshold
        left_indices = X[:, feature_index] < threshold
        # Baris ini menggunakan operator bitwise NOT (~) untuk mengubah 
          # nilai dari array left_indices. Operator ini akan mengubah
            # setiap nilai True menjadi False dan setiap nilai False menjadi True
        right_indices = ~left_indices

        # Baris ini mengambil label/target yang sesuai dengan data yang 
          # masuk ke subtree kiri. Variabel left_labels akan berisi 
           # label/target yang sesuai dengan subset data yang memenuhi 
            # kondisi X[:, feature_index] < threshold
        left_labels = y[left_indices]
        # Sama seperti baris atas namun baris ini mengambil laber/target 
          # yang sesuai dari data yang masuk ke sutree kanan
        right_labels = y[right_indices]

        # Baris ini menghitung gini impurity atau ketidakmurnian gini 
          # dari subset data yang masuk ke subtree kiri. Variabel left_gini 
            # akan menyimpan nilai gini impurity yang dihitung menggunakan 
              # metode _gini_impurity dengan parameter left_labels
        left_gini = self._gini_impurity(left_labels)
        # Baris ini sama seperti baris atas namun bari ini menghitung 
         # ketidakmurnian gini dari subset data yang masuk ke subtree kanan
        right_gini = self._gini_impurity(right_labels)

        # Baris ini menghitung proporsi bobot dari subset data yang masuk ke  
          # subtree kiri. Variabel left_weight akan menyimpan nilai proporsi 
            # tersebut, yang dihitung dengan membagi jumlah sampel dalam  
              # left_labels dengan jumlah total sampel dalam y
        left_weight = len(left_labels) / len(y)
        # Baris ini seperti baris atas namun bari ini menghitung proposisi 
         # bobot dari subset data yang masuk ke subtree kanan
        right_weight = len(right_labels) / len(y)

        # Baris ini menggabungkan nilai gini untuk subtree kiri dan subtree
            # kanan dengan mempertimbangkan bobot relatif masing-masing subtree
              # Dengan memperhatikan bobot ini, nilai gini rata-rata dari kedua 
                # subtree digunakan untuk menghitung gini index yang akhir.
        return left_weight * left_gini + right_weight * right_gini

    def _gini_impurity(self, y):
        # Baris ini digunakan untuk mendapatkan nilai unik dalam array y dan  
          # jumlah Fungsi np.unique dengan argumen return_counts=True kemunculannya.
            # akan mengembalikan dua array, yaitu array nilai unik dan array jumlah
              # kemunculan nilai tersebut. Dalam kasus ini, kita tidak tertarik 
                # dengan array nilai unik, sehingga menggunakan variabel '_'
                  #  untuk menampungnya 
        _, counts = np.unique(y, return_counts=True)
        # Baris ini digunakan untuk menghitung probabilitas kemunculan setiap 
          # kelas dalam array y. Menggunakan counts yang berisi array jumlah 
            # kemunculan nilai unik, dan dibagi dengan panjang y untuk  
              #  mendapatkan probabilitas relatif dari setiap kelas.
        probabilities = counts / len(y) 
        # Baris ini digunakan untuk menghitung indeks gini berdasarkan array
          #  probabilitas yang dihitung sebelumnya.
        gini = 1 - np.sum(probabilities ** 2)
        # Mengembalikan hasil dari perhitungan yang ada dalam 'gini'
        return gini

    def _most_common_label(self, y):
        # Baris ini menggunakan fungsi np.unique dengan argumen return_counts=True 
          # untuk mengembalikan array labels yang berisi nilai-nilai unik 
            # dari y dan array counts yang berisi jumlah kemunculan masing-masing 
              # nilai dalam y. Dengan menggunakan argumen return_counts=True, kita 
                # mendapatkan jumlah kemunculan untuk setiap nilai unik dalam y.
        labels, counts = np.unique(y, return_counts=True)
        # Baris ini mengembalikan label yang paling umum (yang memiliki jumlah 
          # kemunculan terbanyak) dari array labels. Fungsi np.argmax digunakan  
            # untuk mendapatkan indeks elemen maksimum dalam array counts, dan 
              # kemudian indeks tersebut digunakan untuk mengakses elemen yang sesuai 
                # dalam array labels, sehingga mengembalikan label yang paling umum.
        return labels[np.argmax(counts)]

    # Fungsi predict ini mengambil input X, yang merupakan array dari 
      # sampel yang ingin diprediksi
    def predict(self, X):
        # Baris ini menggunakan list comprehension, dilakukan iterasi pada 
          # setiap sampel x dalam X dan dipanggil metode _predict_sample(x)  
            # untuk melakukan prediksi pada setiap sampel tersebut.
        return np.array([self._predict_sample(x) for x in X])

    def _predict_sample(self, x):
        # menginisialisasi variabel node dengan node akar dari pohon keputusan 
        node = self.root
        # loop while yang akan terus berjalan selama nilai node.value adalah None
        while node.value is None:
            # Memeriksa apakah nilai fitur pada sampel x pada indeks yang sesuai 
              # dengan node.feature_index kurang dari node.threshold
            if x[node.feature_index] < node.threshold:
                # Jika kondisi terpenuhi maka akan mengupdate node menjadi node.left,
                  # yaitu mengikuti jalur kiri dari node ke node anak sebelah kiri
                node = node.left
            else:
                # Jika kondisi tidak terpenuhi maka akan mengupdate node menjadi 
                  # node.right, yaitu mengikuti jalur kanan dari node 
                    # ke node anak sebelah kanan
                node = node.right
        # pada baris return node.value menjelaskan bahwa ketika kita mencapai 
          # node daun (leaf node) yang memiliki nilai node.value tidak None, 
            # kita akan mengembalikan nilai tersebut sebagai hasil prediksi.
        return node.value

In [ ]:
## Hapus kolom terakhir (class) dari dataset ##
# Pada baris tersebut, dilakukan pengambilan nilai-nilai dari dataset df 
  # kecuali kolom terakhir menggunakan metode iloc dari pandas. iloc digunakan 
    # untuk mengindeks dan memilih baris dan kolom berdasarkan posisi numerik.
X = df.iloc[:, :-1].values

## Enkode label kelas (ubah menjadi nilai numerik) ##
# menggunakan metode factorize dari pandas untuk mengubah label kelas menjadi 
  # nilai numerik. factorize digunakan untuk mengindekskan label kelas menjadi nilai numerik
y = pd.factorize(df.iloc[:, -1])[0]

## Bagi dataset menjadi set train dan test ##
# Menghitung ukuran set pelatihan dengan mengalikan 0.8 dengan jumlah baris dalam 
  # dataset X dan mengonversi hasilnya menjadi integer.
train_size = int(0.8 * len(X))
# Memisahkan dataset X menjadi X_train (set pelatihan) dan X_test (set pengujian).
  # X_train akan berisi baris pertama hingga train_size - 1 dari dataset X, 
    # sedangkan X_test akan berisi baris train_size hingga akhir dari dataset X.
X_train, X_test = X[:train_size], X[train_size:]
# Memisahkan label y menjadi y_train (label set pelatihan) dan y_test (label set pengujian).
  #  y_train akan berisi elemen pertama hingga train_size - 1 dari array y, 
    # sedangkan y_test akan berisi elemen train_size hingga akhir dari array y.
y_train, y_test = y[:train_size], y[train_size:]

## Buat dan latih model decision tree ##
#Pada baris kode tersebut, sebuah objek DecisionTree dibuat dengan mengatur max_depth=5, 
  # yang akan menjadi kedalaman maksimum dari pohon keputusan yang akan dibangun. 
tree = DecisionTree(max_depth=5)
# model tree dilatih dengan memanggil metode fit pada objek DecisionTree, dengan 
  # argumen X_train dan y_train. Metode fit akan mengkonstruksi pohon keputusan 
    # berdasarkan data pelatihan yang diberikan.
tree.fit(X_train, y_train)

## Lakukan prediksi pada set pengujian ##
# Metode predict dari objek tree dipanggil dengan argumen X_test, yang merupakan 
  # dataset yang akan diprediksi dan disimpan di y_pred
y_pred = tree.predict(X_test)

In [ ]:
## Menghitung akurasi ##
# Dalam perhitungan ini, np.sum(y_pred == y_test) menghitung jumlah prediksi yang 
  # sesuai dengan nilai sebenarnya. Kemudian hasilnya dibagi dengan len(y_test) 
    # untuk mendapatkan proporsi prediksi yang benar dari keseluruhan sampel.
accuracy = np.sum(y_pred == y_test) / len(y_test)
# Hasil akurasi tersebut kemudian dicetak menggunakan fungsi print() untuk 
  # memberikan informasi tentang akurasi model.
print(f"Accuracy: {accuracy}")

Accuracy: 0.7362637362637363