<a href="https://colab.research.google.com/github/rgfghn/Tubes-AI/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # Untuk Mengimpor pustaka pandas
import numpy as np # Untuk Mengimpor pustaka Numpy

dwn_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data' # Arrhtyhmia dataset 
df = pd.read_csv(dwn_url, header=None)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df_column = ["Age","Sex","Height","Weight","QRS_Dur",
"P-R_Int","Q-T_Int","T_Int","P_Int","QRS","T","P", "QRST", "J","Heart_Rate",
"Q_Wave","R_Wave","S_Wave","R'_Wave","S'_Wave","Int_Def","Rag_R_Nom",
"Diph_R_Nom","Rag_P_Nom","Diph_P_Nom","Rag_T_Nom","Diph_T_Nom", 
"DII00", "DII01","DII02", "DII03", "DII04","DII05","DII06","DII07","DII08","DII09","DII10","DII11",
"DIII00","DIII01","DIII02", "DIII03", "DIII04","DIII05","DIII06","DIII07","DIII08","DIII09","DIII10","DIII11",
"AVR00","AVR01","AVR02","AVR03","AVR04","AVR05","AVR06","AVR07","AVR08","AVR09","AVR10","AVR11",
"AVL00","AVL01","AVL02","AVL03","AVL04","AVL05","AVL06","AVL07","AVL08","AVL09","AVL10","AVL11",
"AVF00","AVF01","AVF02","AVF03","AVF04","AVF05","AVF06","AVF07","AVF08","AVF09","AVF10","AVF11",
"V100","V101","V102","V103","V104","V105","V106","V107","V108","V109","V110","V111",
"V200","V201","V202","V203","V204","V205","V206","V207","V208","V209","V210","V211",
"V300","V301","V302","V303","V304","V305","V306","V307","V308","V309","V310","V311",
"V400","V401","V402","V403","V404","V405","V406","V407","V408","V409","V410","V411",
"V500","V501","V502","V503","V504","V505","V506","V507","V508","V509","V510","V511",
"V600","V601","V602","V603","V604","V605","V606","V607","V608","V609","V610","V611",
"JJ_Wave","Amp_Q_Wave","Amp_R_Wave","Amp_S_Wave","R_Prime_Wave","S_Prime_Wave","P_Wave","T_Wave",
"QRSA","QRSTA","DII170","DII171","DII172","DII173","DII174","DII175","DII176","DII177","DII178","DII179",
"DIII180","DIII181","DIII182","DIII183","DIII184","DIII185","DIII186","DIII187","DIII188","DIII189",
"AVR190","AVR191","AVR192","AVR193","AVR194","AVR195","AVR196","AVR197","AVR198","AVR199",
"AVL200","AVL201","AVL202","AVL203","AVL204","AVL205","AVL206","AVL207","AVL208","AVL209",
"AVF210","AVF211","AVF212","AVF213","AVF214","AVF215","AVF216","AVF217","AVF218","AVF219",
"V1220","V1221","V1222","V1223","V1224","V1225","V1226","V1227","V1228","V1229",
"V2230","V2231","V2232","V2233","V2234","V2235","V2236","V2237","V2238","V2239",
"V3240","V3241","V3242","V3243","V3244","V3245","V3246","V3247","V3248","V3249",
"V4250","V4251","V4252","V4253","V4254","V4255","V4256","V4257","V4258","V4259",
"V5260","V5261","V5262","V5263","V5264","V5265","V5266","V5267","V5268","V5269",
"V6270","V6271","V6272","V6273","V6274","V6275","V6276","V6277","V6278","V6279", "Class"]

In [ ]:
df.columns = df_column # Merubah DataFrane untuk setiap kolom memiliki nama yang sesuai di input
df # Menampilkan DataFrame

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df.head() # Membaca 5 baris pertama dari data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [ ]:
df.tail() # Membaca 5 baris terakhir dari data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [ ]:
df.info() # Menampilkan informasi mengenai DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Columns: 280 entries, Age to Class
dtypes: float64(120), int64(155), object(5)
memory usage: 988.9+ KB

In [ ]:
df.describe() # Menampilkan summary statistik data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

In [ ]:
df.shape # Menampilkan jumlah baris dan kolom data

(452, 280)

In [ ]:
missing_value = dict() # Membuat Kamus Kosong untuk menyimpan informasi yang 
                          # hilang di dalam DataFrame
for column in df: # Digunakan untuk melakukan iterasi setiap kolom dalam DataFrame
    for data in df[column]: # Digunakan untuk melakukan iterasi melalui setiap 
                              # nilai dalam kolom column dalam DataFrame
        if data == '?' or data == '': # Digunakan untuk memeriksa apakah nilai 
                                        # data dalam kolom saat ini sama dengan 
                                          # tanda tanya ('?') atau string kosong ('')
            missing_value[column] = 1 + missing_value.get(column, 0) # Digunakan untuk mengupdate 
                      # dictionary missing_value dengan jumlah nilai yang hilang dalam setiap kolom.
                      
missing_value # Untuk melihat hasil dari dictionary missing_value

{'T': 8, 'P': 22, 'QRST': 1, 'J': 376, 'Heart_Rate': 1}

In [ ]:
df = df.drop('J', axis=1) # Menghapus kolom J dari DataFrame
df = df.replace('?', np.NaN) # Digunakan untuk mengganti semua nilai '?' dalam DataFrame
def getcolumn(indx): # Mendefinisikan fungsi bernama getcolumn dengan parameter indx
  for idx,column in enumerate(df.columns): # Melakukan Perulangan dengan fungsi 
                                              # enumerate untuk mengiterasi 
                                                # kolom-kolom dalam DataFrame
      if idx == indx: # Memeriksa apakah indeks sama dengan nilai parameter indx
        return column # Jika sama maka akan mengembalikan nilai column
ind = 0 # Menetapkan variabel ind menjadi nilai 0
for null in df.isnull().sum(): # Melakukan loop for yang menggunakan metode 
            # .isnull().sum() pada DataFrame df. Metode ini menghitung 
              # jumlah nilai null (kosong) dalam setiap kolom DataFrame.

  if null!=0: # jika null tudak sama dengan 0 maka if akan berjalan
    column = getcolumn(ind) # Menggunakan fungsi getcolumn(ind) untuk mendapatkan 
                              # nama kolom berdasarkan indeks ind
    df[column]=df[column].fillna(0) # Pada baris ini nilai Nan akan diganti menjadi 0
    df[column]=pd.to_numeric(df[column]) # Pada baris ini ganti type kolom dari objek ke numerik
    df.loc[df[column]==0,column]= df[column].mean() # Menggunakan df.loc untuk mengakses 
              # nilai-nilai dalam kolom yang memenuhi kondisi df[column]==0. Kemudian, 
                # menggantinya dengan rata-rata dari kolom tersebut menggunakan df[column].mean()
                
    ind+=1 # Menambah nilai dari ind
  else:
    ind+=1 # Jika if tidak terpenuhi maka menambahkan nilai dari ind

In [ ]:
df.describe() # Menampilkan summary statistik data

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

In [ ]:
df.shape # Menampilkan jumlah baris dan kolom data

(452, 279)

In [ ]:
df = df.sample(len(df)).reset_index(drop=True) # Menggunakan metode sample dari DataFrame 
            # untuk mengacak urutan baris dalam DataFrame dan menggunakan metode reset_index 
              # dengan parameter drop=True untuk mengatur ulang indeks DataFrame 
              
df # Menampilkan DataFrame

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,60,1,160,61,81,191,354,127,99,76,...,0.0,7.7,0.0,0.0,0.0,0.7,0.7,21.5,27.9,1
1,12,1,165,47,91,0,359,152,0,8,...,0.0,8.8,-0.6,0.0,0.0,-0.4,1.6,24.0,38.0,10
2,53,0,165,64,86,153,308,214,87,8,...,-0.7,14.3,0.0,0.0,0.0,0.4,-3.1,33.5,-0.6,2
3,57,0,165,74,82,205,293,187,115,92,...,0.0,9.3,-2.6,0.0,0.0,0.9,0.6,17.1,22.0,3
4,24,1,163,53,92,157,370,142,68,64,...,-1.6,16.5,0.0,0.0,0.0,0.4,2.1,44.0,61.6,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,63,1,164,54,78,140,393,143,78,-1,...,0.0,5.0,-0.6,0.0,0.0,0.5,1.8,9.7,23.0,1
448,13,1,133,30,96,176,356,171,137,102,...,-1.3,11.3,0.0,0.0,0.0,2.4,-1.8,32.1,18.8,16
449,51,1,160,83,96,147,400,301,82,-37,...,0.0,7.3,-3.9,0.0,0.0,0.5,-1.1,3.6,-6.3,2
450,59,0,160,52,92,128,359,245,69,74,...,-0.8,12.5,0.0,0.0,0.0,0.5,-1.2,31.6,18.0,2
451,67,0,168,65,109,175,374,218,105,-56,...,-1.0,15.1,-1.6,0.0,0.0,0.4,-1.1,28.0,10.9,7

In [ ]:
# Membagi data menjadi beberapa fold untuk proses validasi
fold_1 = (df.iloc[0:150].reset_index(drop = True), 
         df.iloc[150:len(df)].reset_index(drop = True)
        )
fold_2 = (df.iloc[150:301].reset_index(drop = True), 
         pd.concat([df.iloc[0:150], df.iloc[301:len(df)]]).reset_index(drop = True)
        )
fold_3 = (df.iloc[301:len(df)].reset_index(drop = True), 
         df.iloc[0:150].reset_index(drop = True)
        )

test, train = fold_2
train

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279,Class
0,60,1,160,61,81,191,354,127,99,76,...,0.0,7.7,0.0,0.0,0.0,0.7,0.7,21.5,27.9,1
1,12,1,165,47,91,0,359,152,0,8,...,0.0,8.8,-0.6,0.0,0.0,-0.4,1.6,24.0,38.0,10
2,53,0,165,64,86,153,308,214,87,8,...,-0.7,14.3,0.0,0.0,0.0,0.4,-3.1,33.5,-0.6,2
3,57,0,165,74,82,205,293,187,115,92,...,0.0,9.3,-2.6,0.0,0.0,0.9,0.6,17.1,22.0,3
4,24,1,163,53,92,157,370,142,68,64,...,-1.6,16.5,0.0,0.0,0.0,0.4,2.1,44.0,61.6,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,63,1,164,54,78,140,393,143,78,-1,...,0.0,5.0,-0.6,0.0,0.0,0.5,1.8,9.7,23.0,1
297,13,1,133,30,96,176,356,171,137,102,...,-1.3,11.3,0.0,0.0,0.0,2.4,-1.8,32.1,18.8,16
298,51,1,160,83,96,147,400,301,82,-37,...,0.0,7.3,-3.9,0.0,0.0,0.5,-1.1,3.6,-6.3,2
299,59,0,160,52,92,128,359,245,69,74,...,-0.8,12.5,0.0,0.0,0.0,0.5,-1.2,31.6,18.0,2
300,67,0,168,65,109,175,374,218,105,-56,...,-1.0,15.1,-1.6,0.0,0.0,0.4,-1.1,28.0,10.9,7

In [ ]:
#melakukan normalisasi data dengan min max norm
def norm(df):
  df = (df - df.min()) / (df.max() - df.min())
  return df

#assign fitur dan kelas
X = df.drop('Class', axis = 1) #menghapus kolom Class 
Y = df.Class # Class sebagai kelas

#melakukan normalisasi untuk X (fitur-fitur)
X = norm(X)
X

,Age,Sex,Height,Weight,QRS_Dur,P-R_Int,Q-T_Int,T_Int,P_Int,QRS,...,V6270,V6271,V6272,V6273,V6274,V6275,V6276,V6277,V6278,V6279
0,0.722892,1.0,0.081481,0.323529,0.195489,0.364504,0.440433,0.069597,0.482927,0.727273,...,0.686747,1.000000,0.326271,1.000000,0.0,NaN,0.46875,0.558333,0.493985,0.430421
1,0.144578,1.0,0.088889,0.241176,0.270677,0.000000,0.458484,0.161172,0.000000,0.527859,...,0.698795,1.000000,0.372881,0.979021,0.0,NaN,0.12500,0.633333,0.512782,0.495793
2,0.638554,0.0,0.088889,0.341176,0.233083,0.291985,0.274368,0.388278,0.424390,0.527859,...,0.457831,0.829268,0.605932,1.000000,0.0,NaN,0.37500,0.241667,0.584211,0.245955
3,0.686747,0.0,0.088889,0.400000,0.203008,0.391221,0.220217,0.289377,0.560976,0.774194,...,0.602410,1.000000,0.394068,0.909091,0.0,NaN,0.53125,0.550000,0.460902,0.392233
4,0.289157,1.0,0.085926,0.276471,0.278195,0.299618,0.498195,0.124542,0.331707,0.692082,...,0.590361,0.609756,0.699153,1.000000,0.0,NaN,0.37500,0.675000,0.663158,0.648544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.759036,1.0,0.087407,0.282353,0.172932,0.267176,0.581227,0.128205,0.380488,0.501466,...,0.662651,1.000000,0.211864,0.979021,0.0,NaN,0.40625,0.650000,0.405263,0.398706
448,0.156627,1.0,0.041481,0.141176,0.308271,0.335878,0.447653,0.230769,0.668293,0.803519,...,0.626506,0.682927,0.478814,1.000000,0.0,NaN,1.00000,0.350000,0.573684,0.371521
449,0.614458,1.0,0.081481,0.452941,0.308271,0.280534,0.606498,0.706960,0.400000,0.395894,...,0.590361,1.000000,0.309322,0.863636,0.0,NaN,0.40625,0.408333,0.359398,0.209061
450,0.710843,0.0,0.081481,0.270588,0.278195,0.244275,0.458484,0.501832,0.336585,0.721408,...,0.566265,0.804878,0.529661,1.000000,0.0,NaN,0.40625,0.400000,0.569925,0.366343
451,0.807229,0.0,0.093333,0.347059,0.406015,0.333969,0.512635,0.402930,0.512195,0.340176,...,0.554217,0.756098,0.639831,0.944056,0.0,NaN,0.37500,0.408333,0.542857,0.320388

In [ ]:
# menghitung jarak menggunakan euclidean distance
def euclidean(x1, x2):
  return np.sqrt(np.sum((x1 - x2)**2))

#Euclidean distance dari data baris pertama dan kedua
euclidean(X.iloc[0], X.iloc[1])

2.6485833316252854

In [ ]:
#training KNN
def KNN(X_train, y_train, X_test, k): # -k adalah banyaknya ketetanggan / nighbors
  dist = []

  # menghitung distance dari data trainind dan data testing
  for row in range(X_train.shape[0]):
    dist.append(euclidean(X_train.iloc[row], X_test))

  data = X_train.copy()
  data['Dist'] = dist # menambahkan data distance pada data
  data['Class'] = y_train # menambahkan class pada data
  data = data.sort_values(by = 'Dist').reset_index(drop = True) # mengurutkan data berdasarkan

  # mengambil label kelass yang sering muncul
  y_pred = data.iloc[:k].Class.mode()
  return y_pred[0]

In [ ]:
# Menghitung akurasi dari output berdasar kelas
def acc(y_pred, y_true):
  true = 0
  for i in range(len(y_pred)):
    if y_pred[i] == y_true[i]:
      true += 1
  return true/len(y_pred)

In [ ]:
# Evaluasi model dengan data fold
def evaluate(fold, k):
  test, train = fold
  X_train, y_train = train.drop('Class', axis = 1), train.Class
  X_test, y_test = test.drop('Class', axis = 1), test.Class
  X_train = norm(X_train)
  X_test = norm(X_test)
  y_preds = []
  for row in range(X_test.shape[0]):
    y_preds.append(KNN(X_train, y_train, X_test.iloc[row], k))

  return (acc(y_preds, y_test))

In [ ]:
k = 5 # variabel k dengan nilai 5, yang akan digunakan sebagai parameter untuk algoritme KNN.
accs = [] # membuat sebuah daftar kosong accs yang akan digunakan untuk 
            # menyimpan akurasi dari setiap lipatan (fold)
folds = [fold_1, fold_2, fold_3] # memiliki sebuah daftar folds yang berisi lipatan-lipatan
                                    #  data yang akan melakukan evaluasi pada setiap lipatan ini.
for i in range(len(folds)):
  accs.append(evaluate(folds[i], k)) # melakukan evaluasi pada setiap lipatan menggunakan  
                                      # fungsi evaluate. Hasil akurasi dari evaluasi tersebut 
                                        # kemudian ditambahkan ke daftar accs
print(f'Menggunakan k : {k}, dengan rata-rata akurasi : {sum(accs)/3}') # mencetak rata-rata akurasi menggunakan  
                      # rumus sum(accs)/3 (asumsi Anda memiliki 3 lipatan) dan mencantumkan nilai k yang digunakan 
                        # dan rata-rata akurasi dari evaluasi lipatan

Menggunakan k : 5, dengan rata-rata akurasi : 0.5731125827814569